.change_width{
    width: 50%;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width:992px){
    .change_width{
      width: 98%!important;
      padding-left: 0!important;
      padding-right: 0!important;
      }
}