.clear_btn:hover{
color: white!important;
background-color: #DC3545!important;
}
.remove_btn:hover{
    color: white!important;
}
.cart{
    max-height: 80vh;
    overflow-y: auto;
    width: 75%;
    padding-left: 32px;
    padding-right: 32px;
}

@media (max-width:992px){
    .cart{
        width: 98%!important;
        padding-left: 0!important;
        padding-right: 0!important;
    }
}